{% extends "base.html.twig" %}

{% block body %}
<h2>"Welcome to the world of Symfony Twig Mr {{name | upper | reverse }}"</h2>

<a href="/about">About Us</a>
<a href="{{path('about')}}">About Us2</a>
<a href="{{path('multiply', {a: 2, b: 3,})}}">Multiply 5 * 3</a>

{# {% for i in 0..10 %}
     {{ i }}
{% endfor %} #}

{% endblock %}
